.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 62px;
}

.input {
  @extend .bold-20;
  background: $PRIMARY_GREY;
  width: 62px;
  height: 62px;
  border-radius: 8px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  border: solid 2px #f2f3f5;
  outline: none;
  margin-bottom: 5px;
  @media screen and (max-width: $TABLET_SIZE) {
    width: 54px;
    height: 54px;
  }
  @media screen and (max-width: $MOBILE_SIZE) {
    width: 43px;
    height: 43px;
  }

  &:focus {
    border-color: $PRIMARY_BLUE;
  }
}

.active {
  background: white;
  border-color: $PRIMARY_BLUE;
}
