@import './common/fonts';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import 'swiper/css/scrollbar';
@import 'nprogress.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: Gilroy;
  min-width: 320px;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1312px;
  padding: 0px 20px;
  margin: 0 auto;
  position: relative;
}
.grey {
  background: $GREY;
  padding: 10px 0px;
}
