.container {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  flex-wrap: wrap;

  margin: 20px 0;
  li {
    @extend .regular-16;
    margin-right: 8px;
    padding: 8px 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // color: $TITLE_ACTIVE_5;
    cursor: pointer;
    &.active {
      // background: $TITLE_ACTIVE_10;
      // color: $TITLE_ACTIVE_1;
    }
    &.disabled {
      // color: $TITLE_ACTIVE_5 !important;
    }
    &:first-child {
      margin-right: 15px;
      // color: $TITLE_ACTIVE_1;
    }
    &:last-child {
      margin-right: 0;
      margin-left: 15px;
      // color: $TITLE_ACTIVE_1;
    }
  }
}

.arrow {
  &.disabled {
  }
}
