.wrapper {
  background: $PRIMARY_GREY;
  padding: 40px;
  border-radius: 40px;
  margin-top: 20px;
  @media screen and (max-width: $TABLET_SIZE) {
    padding: 10px;
  }
}
.container {
  display: flex;
  gap: 40px;
  position: relative;
  @media screen and (max-width: $TABLET_SIZE) {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  @media screen and (max-width: $MOBILE_SIZE) {
  }
}
