.container {
  background: #ffffff;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  box-shadow:
    0 -2px 4px 0 rgba(0, 0, 0, 0.08),
    0 0 6px 0 rgba(0, 0, 0, 0.02);

  .linkTap {
    position: relative;
  }
}
.activeLink {
  svg {
    path {
      fill: $LIGHT_BLUE ;
    }
  }
}
.tapButton {
  background: none;
  border: 0;
  cursor: pointer;
}
.count {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: $LIGHT_BLUE;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  right: -10px;
  top: -10px;
  @extend .medium-14;
}
