.regular-12 {
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 400;
}

.regular-13 {
  font-family: 'Gilroy';
  font-size: 13px;
  font-weight: 400;
}

.regular-14 {
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 400;
}

.regular-15 {
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 400;
}

.regular-16 {
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 400;
}

.regular-18 {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 400;
}

.regular-20 {
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: 500;
}

.medium-12 {
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: 500;
}
.medium-14 {
  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 500;
}

.medium-15 {
  font-family: 'Gilroy';
  font-size: 15px;
  font-weight: 500;
}

.medium-16 {
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: 500;
}

.medium-18 {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 500;
}
.medium-20 {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 500;
}
.medium-40 {
  font-family: 'Gilroy';
  font-size: 40px;
  font-weight: 500;
}

.bold-11 {
  font-family: 'Gilroy';
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
}

.bold-14 {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.bold-15 {
  font-family: 'Gilroy';
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}
.bold-16 {
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.bold-18 {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.bold-20 {
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.bold-22 {
  font-family: 'Gilroy';
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.bold-24 {
  font-family: 'Gilroy';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.bold-28 {
  font-family: 'Gilroy';
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

.bold-32 {
  font-family: 'Gilroy';
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.bold-34 {
  font-family: 'Gilroy';
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.bold-36 {
  font-family: 'Gilroy';
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}
.bold-40 {
  font-family: 'Gilroy';
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
}
